<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag 'top', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>
    <main>
        <section id="add-book" class="feature-section">
            <h2>書籍管理</h2>
            <p>書籍のタイトル、著者、出版年などの情報を入力して書籍を管理する機能。</p>
        </section>
        <section id="search-book" class="feature-section">
            <h2>書籍の検索</h2>
            <p>書籍のタイトル、著者、ジャンルの情報を元に書籍を検索する機能。</p>
        </section>
        <section id="post-review" class="feature-section">
            <h2>感想の投稿</h2>
            <p>本の感想を投稿し合う機能。</p>
        </section>
    </main>
</body>
</html>