.container {
    font-family: Arial, sans-serif;
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  #flash-message {
    color: red;
  }

  textarea {
      width: 200px;
      height: 25px;
      resize: none;
      overflow: hidden;
  }

  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .radio-container {
    display: flex; /* 親要素をフレックスコンテナにする */
    flex-direction: row; /* フレックスアイテムを横並びにする */
  }

/* 各ラジオボタンとラベルのスタイル */
  .radio-btn {
    display: inline-block; /* インラインブロック要素にする */
    margin-right: 15px; 
    cursor: pointer;
  }
  
  input[type="text"], input[type="date"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }


  .input-container input {
    width: 100px;
    color: #000;
  }

  .clickable-image {
  transition: transform 0.3s;
  cursor: pointer;
}

.clickable-image:hover {
  transform: scale(1.05);
}

/* モーダルウィンドウのスタイル */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 60px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

  .registration-btn{
    padding-top: 10px;
    padding-right: 30px;
    display: flex;
    justify-content: flex-end;
  }
  
  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }
  